<div class="jumbotron">
	<div class="container">
<h1>Welcome to the finance tracker app</h1>
<h2>Track All Stocks That You Desire</h2>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Have Fun With The App</a></p>
</div>
</div>